<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.cvnavi.app">

    <application
        android:name=".BaseApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppThemes"
        tools:replace="android:icon">
        <service android:name=".service.CommService"/>

        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AppWelcome">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>

        </activity>

        <!-- 装载状态 -->
        <activity
            android:name=".ui.activity.MainDialogActivity"
            android:theme="@style/transcutestyle"/>

        <!-- 驾驶评分 -->
        <activity
            android:name=".ui.activity.DrivingScoreActivity"
            android:screenOrientation="landscape"/>

        <!-- 时间设置 -->
        <activity
            android:name=".ui.activity.TimeSetActivity"
            android:screenOrientation="landscape"/>

        <!-- 行驶记录详情 -->
        <activity
            android:name=".ui.activity.TravelRecordInfoActivity"
            android:screenOrientation="landscape"/>

        <!-- 行驶记录 -->
        <activity
            android:name=".ui.activity.TravelRecordActivity"
            android:screenOrientation="landscape"/>
        <!-- 车辆参数 -->
        <activity
            android:name=".ui.activity.VehicleParametersActivity"
            android:screenOrientation="landscape"/>
        <!-- 设备检测 -->
        <activity
            android:name=".ui.activity.EquipmentDetectionActivity"
            android:screenOrientation="landscape"/>
        <!-- 设备检测菜单 -->
        <activity
            android:name=".ui.activity.EquipmentActivity"
            android:screenOrientation="landscape"/>
        <!-- 事故疑点曲线图 -->
        <activity
            android:name=".ui.activity.AccidentGraphActivity"
            android:screenOrientation="landscape"/>
        <!-- 设备参数 -->
        <activity
            android:name=".ui.activity.Device_InformationActivity"
            android:screenOrientation="landscape"/>
        <!-- 定位状态 -->
        <activity
            android:name=".ui.activity.PositioningStatusActivity"
            android:screenOrientation="landscape"/>
        <!-- 设备参数 -->
        <activity
            android:name=".ui.activity.SetUpTheDeviceActivity"
            android:screenOrientation="landscape"/>
        <!-- 工程菜单 -->
        <activity
            android:name=".ui.activity.TriaxialStateActivity"
            android:screenOrientation="landscape"/>
        <!-- 文本信息 -->
        <activity
            android:name=".ui.activity.TextInformationActivity"
            android:screenOrientation="landscape"/>
        <!-- 故障报警信息-->
        <activity
            android:name=".ui.activity.Error_AlarmActivity"
            android:screenOrientation="landscape"/>
        <!--车辆基本信息-->
        <activity
            android:name=".ui.activity.VehicleInformationActivity"
            android:screenOrientation="landscape"/>
        <!-- 实时数据信息 -->
        <activity
            android:name=".ui.activity.RealTimeInformationActivity"
            android:screenOrientation="landscape"/>
        <!-- 销贷管理 -->
        <activity
            android:name=".ui.activity.SellCreditActivity"
            android:screenOrientation="landscape">
        </activity>
        <!-- 不良驾驶记录 -->
        <activity
            android:name=".ui.activity.AbdDrivingRecordActivity"
            android:screenOrientation="landscape"/>
        <!-- 销贷菜单 -->
        <activity
            android:name=".ui.activity.MaintenanceActivity"
            android:screenOrientation="landscape">
        </activity>
        <!-- 维保-优秀驾驶 -->
        <activity
            android:name=".ui.activity.ExcellentDrivingActivity"
            android:screenOrientation="landscape"/>
        <!--平台注册-->
        <activity
            android:name=".ui.activity.PlatformRegistrationActivity"
            android:screenOrientation="landscape">

        </activity>
        <!--设置设备参数-->
        <activity
            android:name=".ui.activity.SetDeviceParametersActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".Test">

        </activity>
    </application>

</manifest>